$spacing: .5em;
$radius: 1em;
$border: 5px solid green;
$myblack: rgb(29, 29, 29);
$mygreen: rgb(178, 238, 99);
$mygray: #2d2d2d;
$mywhite: #d6d6d6;
$smallspace: 0 5px 0 5px;
$mylightgray: #8b8b8b;
